<!doctype html>
<html lang="en">

<head>
    <title>Newspaper</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!-- External CSS -->
    <link rel="stylesheet" href="public/css/global.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
    <header class="sticky-top">
        <!-- Upper Header -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Brand Name -->
                <a href="index.html" class="navbar-brand me-auto">Newspaper Brandname and Icon</a>

                <!-- Search Bar -->
                <form class="d-flex" action="reporter_list.html">
                    <div class="input-group">
                        <input class="form-control rounded-start border-end-0" type="search" placeholder="Search..."
                            aria-label="Search">
                        <button class="btn bg-white rounded-0 rounded-end border border-start-0" type="submit"
                            title="Search">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>

                <!-- Logged in Offcanvas Trigger -->
                <button class="navbar-toggler ms-3 border-light" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasLoggedin" aria-controls="offcanvasLoggedin" id="user-btn">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- Upper Header -->

        <!-- Lower Header -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light p-0">
            <div class="container-fluid">
                <!-- Categories Navigation -->
                <div class="collapse navbar-collapse justify-content-between" id="categoriesToggle">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <i class="bi bi-house-door"></i> Home
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="internationalDropdown" role="button">
                                International
                            </a>
                            <div class="dropdown-menu" aria-labelledby="internationalDropdown">
                                <a class="dropdown-item" href="reporter_list.html">International Sports</a>
                                <a class="dropdown-item" href="reporter_list.html">Global Business & Economy</a>
                                <a class="dropdown-item" href="reporter_list.html">International Politics</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="politicsDropdown" role="button">
                                Politics
                            </a>
                            <div class="dropdown-menu" aria-labelledby="politicsDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Domestic Politics</a>
                                <a class="dropdown-item" href="reporter_list.html">Election News</a>
                                <a class="dropdown-item" href="reporter_list.html">Political Scandals & Corruption</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="economyDropdown" role="button">
                                Economy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="economyDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Macroeconomics</a>
                                <a class="dropdown-item" href="reporter_list.html">Microeconomics</a>
                                <a class="dropdown-item" href="reporter_list.html">Labor Market</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="technologyDropdown" role="button">
                                Technology
                            </a>
                            <div class="dropdown-menu" aria-labelledby="technologyDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Cybersecurity & Privacy</a>
                                <a class="dropdown-item" href="reporter_list.html">Internet of Things</a>
                                <a class="dropdown-item" href="reporter_list.html">Blockchain & Cryptocurrency</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="scienceDropdown" role="button">
                                Science
                            </a>
                            <div class="dropdown-menu" aria-labelledby="scienceDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Space & Astronomy</a>
                                <a class="dropdown-item" href="reporter_list.html">Neuroscience</a>
                                <a class="dropdown-item" href="reporter_list.html">Engineering & Technology</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="healthDropdown" role="button">
                                Health
                            </a>
                            <div class="dropdown-menu" aria-labelledby="healthDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Mental Health</a>
                                <a class="dropdown-item" href="reporter_list.html">Food & Nutrition</a>
                                <a class="dropdown-item" href="reporter_list.html">Health Policy</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="sportsDropdown" role="button">
                                Sports
                            </a>
                            <div class="dropdown-menu" aria-labelledby="sportsDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Football</a>
                                <a class="dropdown-item" href="reporter_list.html">Golf</a>
                                <a class="dropdown-item" href="reporter_list.html">Olympics</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="entertainmentDropdown" role="button">
                                Entertainment
                            </a>
                            <div class="dropdown-menu" aria-labelledby="entertainmentDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Film & Television</a>
                                <a class="dropdown-item" href="reporter_list.html">Music</a>
                                <a class="dropdown-item" href="reporter_list.html">Gaming</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="educationDropdown" role="button">
                                Education
                            </a>
                            <div class="dropdown-menu" aria-labelledby="educationDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Higher Education</a>
                                <a class="dropdown-item" href="reporter_list.html">K-12 Education</a>
                                <a class="dropdown-item" href="reporter_list.html">Educational Policy</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="reporter_list.html" id="tourismDropdown" role="button">
                                Tourism
                            </a>
                            <div class="dropdown-menu" aria-labelledby="tourismDropdown">
                                <a class="dropdown-item" href="reporter_list.html">Ecotourism</a>
                                <a class="dropdown-item" href="reporter_list.html">Medical Tourism</a>
                                <a class="dropdown-item" href="reporter_list.html">Travel Destinations</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Lower Header -->
    </header>

    <!-- Logged in Offcanvas -->
    <div class="offcanvas offcanvas-end text-bg-dark w-25" data-bs-scroll="true" tabindex="-1" id="offcanvasLoggedin"
        aria-labelledby="offcanvasLoggedinLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-unstyled ms-3">
                <li class="mb-3">
                    <a href="#" class="link-light text-decoration-none" data-bs-toggle="modal"
                        data-bs-target="#modalUserInformation">
                        <img src="https://via.placeholder.com/50x50" alt="...">
                        <span>DongNike</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="#footer" class="link-light text-decoration-none">
                        <i class="bi bi-people"></i> About us
                    </a>
                </li>
                <li class="mb-3">
                    <a href="#" class="link-light text-decoration-none" id="logout-btn" data-bs-dismiss="offcanvas"
                        aria-label="Log out">
                        <i class="bi bi-box-arrow-left"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Logged in Offcanvas -->

    <!-- User Info Modals -->
    <div class="modal fade" tabindex="-1" id="modalUserInformation">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header pb-0 border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body mx-3 pt-0">
                    <form class="row g-3">
                        <div class="col-md-12">
                            <h5>PERSONAL INFO</h5>
                        </div>

                        <hr class="border border-2 border-dark m-0">

                        <!-- Full Name -->
                        <div class="col-md-6">
                            <label for="update-fullname" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="update-fullname" value="Lam Tran Kieu Minh">
                        </div>
                        <div class="col-md-6">
                            <label for="update-penname" class="form-label">Pen Name</label>
                            <input type="text" class="form-control" id="update-penname" value="MLam depchai">
                        </div>

                        <!-- Additional Info -->
                        <div class="col-md-6">
                            <label for="update-dob" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" id="update-dob" value="2018-07-22" />
                        </div>
                        <div class="col-md-6">
                            <label for="update-gender" class="form-label">Gender</label><br>
                            <select class="form-select" id="update-gender">
                                <option value="">Select your gender</option>
                                <option value="female" selected>Female</option>
                                <option value="male">Male</option>
                                <option value="other">Other</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <h5>ACCOUNT INFO</h5>
                        </div>

                        <hr class="border border-2 border-dark m-0">

                        <!-- Email Input -->
                        <div class="col-12">
                            <label for="update-email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="update-email"
                                value="20120018@student.hcmus.edu.vn" disabled>
                        </div>

                        <div class="col-md-6">
                            <label for="update-password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="update-password"
                                placeholder="Enter new password">
                        </div>
                        <div class="col-md-6">
                            <label for="update-repassword" class="form-label">Re-password</label>
                            <input type="password" class="form-control" id="update-repassword"
                                placeholder="Re-enter new password">
                        </div>
                        <div class="modal-footer justify-content-center p-0">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- User Info Modals -->

    <main class="container my-3 bg-light">
        <div>
            <span class="h2">
                SEARCHING
            </span>
            <i class="bi bi-info-circle-fill pop-me-over h6 text-secondary" tabindex="0" data-bs-toggle="popover"
                data-bs-trigger="hover" title="Search"
                data-bs-content="You can search articles by title, abstract, and full-text."></i>
        </div>
        <!-- Search Bar with Filters -->
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search">
                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="row row-cols-md-3 my-3">
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="filter1">Status</label>
                        <select class="form-select" id="filter1">
                            <option selected>Choose...</option>
                            <option value="rejected">Rejected</option>
                            <option value="approved">Approved</option>
                            <option value="unapproved">Unapproved</option>
                            <option value="published">Published</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="filter2">Category</label>
                        <select class="form-select" id="filter2">
                            <option selected>Choose...</option>
                            <option value="politics">Politics</option>
                            <option value="economy">Economy</option>
                            <option value="sports">Sports</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="filter3">Tags</label>
                        <select class="form-select" id="filter3">
                            <option selected>Choose...</option>
                            <option value="food">Food</option>
                            <option value="agriculture">Agriculture</option>
                            <option value="green_economy">Green Economy</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <!-- Search Bar with Filters -->

        <!-- List News Queried -->
        <!-- Page 1 -->
        <div id="group-1">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <p class="card-text small text-muted">Khalifa - 04/09/2023</p>
                            <h6 class="card-subtitle text-muted">
                                <a href="reporter_list.html">
                                    Politics
                                </a>
                            </h6>
                            <h5 class="card-title">
                                <a href="reporter_index.html">
                                    BBC News has been banned in Vietnam
                                </a>
                            </h5>
                            <p class="card-text small">Example Abstract</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text small text-muted">
                                tags: <a href="reporter_list.html">newspaper</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="public/images/news1.jpg" class="img-fluid rounded-end" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <p class="card-text small text-muted">Khalifa - 04/09/2023</p>
                            <h6 class="card-subtitle text-muted">
                                <a href="reporter_list.html">
                                    Politics
                                </a>
                            </h6>
                            <h5 class="card-title">
                                <a href="reporter_index.html">
                                    New York Times has been banned in Vietnam
                                </a>
                            </h5>
                            <p class="card-text small">Example Abstract</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text small text-muted">
                                tags:
                                <a href="reporter_list.html">newspaper</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="public/images/news2.jpg" class="img-fluid rounded-end" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <p class="card-text small text-muted">Khalifa - 04/09/2023</p>
                            <h6 class="card-subtitle text-muted">
                                <a href="reporter_list.html">
                                    Politics
                                </a>
                            </h6>
                            <h5 class="card-title">
                                <a href="reporter_index.html">
                                    VNExpress has been banned in Vietnam
                                </a>
                            </h5>
                            <p class="card-text small">Example Abstract</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text small text-muted">
                                tags:
                                <a href="reporter_list.html">newspaper</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="public/images/news3.jpg" class="img-fluid rounded-end" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!-- Page 1 -->

        <!-- Page 2 -->
        <div id="group-2">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <p class="card-text small text-muted">Khalifa - 04/09/2023</p>
                            <h6 class="card-subtitle text-muted">
                                <a href="reporter_list.html">
                                    Politics
                                </a>
                            </h6>
                            <h5 class="card-title">
                                <a href="reporter_index.html">
                                    VNExpress has been banned in Vietnam
                                </a>
                            </h5>
                            <p class="card-text small">Example Abstract</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text small text-muted">
                                tags:
                                <a href="reporter_list.html">newspaper</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="public/images/news3.jpg" class="img-fluid rounded-end" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <p class="card-text small text-muted">Khalifa - 04/09/2023</p>
                            <h6 class="card-subtitle text-muted">
                                <a href="reporter_list.html">
                                    Politics
                                </a>
                            </h6>
                            <h5 class="card-title">
                                <a href="reporter_index.html">
                                    BBC News has been banned in Vietnam
                                </a>
                            </h5>
                            <p class="card-text small">Example Abstract</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text small text-muted">
                                tags: <a href="reporter_list.html">newspaper</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="public/images/news1.jpg" class="img-fluid rounded-end" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <p class="card-text small text-muted">Khalifa - 04/09/2023</p>
                            <h6 class="card-subtitle text-muted">
                                <a href="reporter_list.html">
                                    Politics
                                </a>
                            </h6>
                            <h5 class="card-title">
                                <a href="reporter_index.html">
                                    Congratulation! You found an easter egg!
                                </a>
                            </h5>
                            <p class="card-text small">Example Abstract</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text small text-muted">
                                tags:
                                <a href="reporter_list.html">newspaper</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="public/images/news2.jpg" class="img-fluid rounded-end" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!-- Page 2 -->

        <!-- Page 3 -->
        <div id="group-3">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <p class="card-text small text-muted">Khalifa - 04/09/2023</p>
                            <h6 class="card-subtitle text-muted">
                                <a href="reporter_list.html">
                                    Politics
                                </a>
                            </h6>
                            <h5 class="card-title">
                                <a href="reporter_index.html">
                                    New York Times has been banned in Vietnam
                                </a>
                            </h5>
                            <p class="card-text small">Example Abstract</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text small text-muted">
                                tags:
                                <a href="reporter_list.html">newspaper</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="public/images/news2.jpg" class="img-fluid rounded-end" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!-- Page 3 -->
        <!-- List News Queried -->

        <!-- Pagination -->
        <nav class="d-flex justify-content-center" aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <a id="first" class="page-link" href="#">
                        <span aria-hidden="true">&laquo;</span> First
                    </a>
                </li>
                <li class="page-item" aria-current="page">
                    <a class="page-link active" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a id="last" class="page-link next" href="#">
                        Last <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Pagination -->
    </main>

    <footer id="footer" class="bg-dark text-light py-5">
        <div class="container">
            <div class="row">
                <!-- About developers -->
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>20120018 - Tran Kieu Minh Lam</p>
                    <p>20120067 - Ng Pham Ba Duy</p>
                    <p>20120304 - Phan Tran Khanh</p>
                </div>

                <!-- Address -->
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <a href="https://www.google.com/maps?q=227+Nguyen+Van+Cu+Str.,+D5,+HCMC,+Vietnam+10001"
                        target="_blank"><i class="bi bi-geo-alt"></i> 227 Nguyen Van Cu Str., D5, HCMC, Vietnam
                        10001</a>
                    <p><i class="bi bi-telephone"></i> +1 (123) 456-7890</p>
                    <a href="mailto:info@newspaper.com"><i class="bi bi-envelope"></i> info@newspaper.com</a>
                </div>

                <!-- Digital Contact -->
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
            <hr>

            <!-- Brand Name -->
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">© 2023 Newspaper.com</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="public/js/list.js"></script>
    <script src="public/js/reporter.js"></script>
</body>

</html>