<body class="container-fluid">
  <header class="sticky-top">
    <!-- Upper Header -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- Brand Name -->
        <a href="/" class="navbar-brand w-50 h-50 me-auto">
          <img class="w-50 h-50" src="../public/images/logo.png"></img>
        </a>

        <!-- Logged in Offcanvas Trigger -->
        <button class="navbar-toggler ms-3 border-light" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasLoggedin" aria-controls="offcanvasLoggedin" id="user-btn">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <!-- Upper Header -->
  </header>

  <div class="e_Content container mt-3 p-2 bg-light">
    <div class="e-PageTitle header h2">
      <span>
        <strong>TÌM KIẾM </strong>
        <i class="bi bi-info-circle-fill pop-me-over h6" tabindex="0" data-bs-toggle="popover"
          data-bs-trigger="hover" title="Search"
          data-bs-content="You can search articles by title, abstract, and full-text."></i>
      </span>
    </div>
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Search">
            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
          </div>
        </div>
      </div>
      <div class="row row-cols-md-3 my-3">
        <div class="col">
          <div class="input-group">
            <label class="input-group-text" for="filter1">Mục lục</label>
            <select class="form-select" id="filter1">
              <option selected>Choose...</option>
              <option value="business">Kinh doanh</option>
              <option value="world">Thế giới</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <label class="input-group-text" for="filter2">Tags</label>
            <select class="form-select" id="filter2">
              <option selected>Choose...</option>
              <option value="agriculture">Nông sản</option>
              <option value="seafood">Hải sản</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <label class="input-group-text" for="filter3">Phóng viên</label>
            <select class="form-select" id="filter3">
              <option selected>Choose...</option>
              <option value="mlam">Trần Minh Lâm</option>
              <option value="bduy">Bá Duy</option>
            </select>
          </div>
        </div>
      </div>
    </form>

    <div class="e_Posts">
      <div class="post-list-area">
        <div class="post-list">
          <div class="row g-0">
            <div class="col-md-7 d-flex flex-column post-info-s">
              <div class="card-body">
                <p class="card-text small text-muted">Khalifa - 04/09/2023</p>
                <h6 class="card-subtitle text-muted">Politics</h6>
                <h5 class="card-title mb-2">BBC News has been banned in Vietnam</h5>
                <p class="card-text small flex-grow-1">Example Abstract</p>
              </div>
              <div class="card-footer">
                <p class="card-text small text-muted mt-auto">tags: newspaper</p>
              </div>
            </div>
            <div class="col-md-4 post-img-s">
              <img src="./assets/news1.jpg" class="img-fluid rounded-start" >
            </div>
            <div class="col-md-1 d-grid post-btn-del">
              <div class="btn btn-danger btn-block">
                <i class="bi bi-trash"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pagination">
        <table>
          <tr>
            <th>N</th>
            <th>e</th>
            <th>w</th>
            <th>s</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Logged in Offcanvas -->
  <div class="offcanvas offcanvas-end text-bg-dark w-25" data-bs-scroll="true" tabindex="-1" id="offcanvasLoggedin"
    aria-labelledby="offcanvasLoggedinLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-unstyled ms-3">
        <li class="mb-3">
          <a href="#" class="link-light text-decoration-none" data-bs-toggle="modal"
            data-bs-target="#modalUserInformation">
            <img src="https://via.placeholder.com/50x50" >
            <span>DongNike</span>
          </a>
        </li>
        <li class="mb-3">
          <a href="#footer" class="link-light text-decoration-none">
            <i class="bi bi-people"></i> About us
          </a>
        </li>
        <li class="mb-3">
          <a href="#" class="link-light text-decoration-none" id="logout-btn" data-bs-dismiss="offcanvas"
            aria-label="Log out">
            <i class="bi bi-box-arrow-left"></i> Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Logged in Offcanvas -->

  <!-- Writer Info Modals -->
  <div class="modal fade" tabindex="-1" id="modalUserInformation">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header pb-0 border-bottom-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body mx-3 pt-0">
          <form class="row g-3">
            <div class="col-md-12">
              <h5>PERSONAL INFO</h5>
            </div>

            <hr class="border border-2 border-dark m-0">

            <!-- Full Name -->
            <div class="col-md-6">
              <label for="update-fullname" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="update-fullname" value="Lam Tran Kieu Minh">
            </div>
            <div class="col-md-6">
              <label for="update-penname" class="form-label">Pen Name</label>
              <input type="text" class="form-control" id="update-penname" value="MLam depchai">
            </div>

            <!-- Additional Info -->
            <div class="col-md-6">
              <label for="update-dob" class="form-label">Date of Birth</label>
              <input type="date" class="form-control" id="update-dob" value="2018-07-22" />
            </div>
            <div class="col-md-6">
              <label for="update-gender" class="form-label">Gender</label><br>
              <select class="form-select" id="update-gender">
                <option value="">Select your gender</option>
                <option value="female" selected>Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
              </select>
            </div>

            <div class="col-md-12">
              <h5>ACCOUNT INFO</h5>
            </div>

            <hr class="border border-2 border-dark m-0">

            <!-- Email Input -->
            <div class="col-12">
              <label for="update-email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="update-email" value="20120018@student.hcmus.edu.vn" disabled>
            </div>

            <div class="col-md-6">
              <label for="update-password" class="form-label">New Password</label>
              <input type="password" class="form-control" id="update-password" placeholder="Enter new password">
            </div>
            <div class="col-md-6">
              <label for="update-repassword" class="form-label">Re-password</label>
              <input type="password" class="form-control" id="update-repassword" placeholder="Re-enter new password">
            </div>
            <div class="modal-footer justify-content-center p-0">
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Writer Info Modals -->

  <footer id="footer" class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <!-- About developers -->
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>20120018 - Tran Kieu Minh Lam</p>
          <p>20120067 - Ng Pham Ba Duy</p>
          <p>20120304 - Phan Tran Khanh</p>
        </div>

        <!-- Address -->
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>
            <a href="https://www.google.com/maps?q=227+Nguyen+Van+Cu+Str.,+D5,+HCMC,+Vietnam+10001" target="_blank"><i
                class="bi bi-geo-alt"></i> 227 Nguyen Van Cu Str., D5, HCMC, Vietnam
              10001</a>
          </p>
          <p>
            <i class="bi bi-telephone"></i> +1 (123) 456-7890
          </p>
          <p>
            <a href="mailto:info@newspaper.com"><i class="bi bi-envelope"></i> info@newspaper.com</a>
          </p>
        </div>

        <!-- Digital Contact -->
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
          <a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a>
          <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <hr>

      <!-- Brand Name -->
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">© 2023 Newspaper.com</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

  <script>
    var site_list = true;
    var site_detail = false;
    var site_disapprove = false;
    var site_approve = false;
  </script>
  <script src="../public/mock/editor.js"></script>
  <script src="../public/js/editor.js"></script>
</body>