/* general */
html, body {
    height: 100%;
}

html {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

body {
    padding: 0px !important;
}

.container {
    margin-bottom: 10px;
    margin-top: 10px;
}

blockquote {
    margin-bottom: 0px;
}

.action {
    width: inherit;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex !important;
    justify-content: space-between;
}

.action button {
    width: 300px;
    height: 40px;
}

.header.h2 {
    background-color: black;
    color: white;
    border-radius: 4px;
    height: 50px;
    display: flex;
    align-items: center;
}

.header.h2 span {
    margin-left: 20px;
}

/* i {
    color: #B8621B;
} */

/* Categories */
.navbar-nav li.nav-item a:hover {
    background-color: #343a40;
    color: #f8f9fa;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
/* Categories */

/* Toggle Button After Logging in */
.navbar-toggler:hover {
    background-color: white;
}

.navbar-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* Toggle Button After Logging in */

/* Submit Buttons in Modals */
.modal-content button[type="submit"] {
    background-color: #B8621B;
    border-color: #B8621B;
    color: #000;
}

.modal-content button[type="submit"]:hover {
    background-color: #E3CCAE;
    border-color: #E3CCAE;
    color: #000;
}
/* Submit Buttons in Modals */

/* Premium Tiers */
.premium-tier a:hover {
    font-weight: bold;
}
/* Premium Tiers */


/* Editor - header */
.e_Header {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.e_Branding, .e_User{
    display: flex;
    align-items: center;
}

.e_Branding img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.e_User .user{
    margin-right: 10px;
}

.e_User img {
    width: 30px;
    height: 30px;
    margin: 0px;
}

/* Editor - footer */
.e_Footer {
    display: flex;
}

.e_Footer img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

/* Editor - main */
.e_Posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-grid .btn {
    border-radius: 0px 4px 4px 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination table {
    empty-cells: show;
    align-self: center;
}

.pagination th {
    font-size: 1.1em;
}

/* Editor - details */
.e_Content_Details {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}
/* 
.post-detail {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%;
    text-align: justify;
}

.post-pane-l {
    display: flex;
    justify-content: center;    
    background-color: beige;
    margin: 5px;
    border-radius: 4px;
    height: 15% !important;
}

.post-pane-l.header, .post-pane-l.footer {
    justify-content: space-between;    
    background-color: bisque;
    height: 10% !important;
}

.post-pane-l.header .post-subpane-l, .post-pane-l.footer  .post-subpane-l{
    border-radius: 4px;
    background-color: beige;
}

.post-pane-l.img {
    flex-direction: column;
    align-items: center;
    height: 25% !important;
}

.post-pane-l.details {
    height: 40% !important;
} */

/* Editor - disapprove */
.e_Disapprove {
    display: flex;
    flex-direction: column;
}

/* .disapprove-action {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.disapprove-action button {
    width: 300px;
    height: 40px;
} */

/* Editor - approve */
.e_Approve {
    display: flex;
    flex-direction: column;
}

.approve-content {
    display: flex;
}

.approve-c.text {
    width: 60%;
    margin-right: 5px;
}

.approve-c.image {
    width: 40%;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.approve-r {
    margin-top: 5px;
    margin-bottom: 5px;
}

.approve-r.abstract {
    height: 100px;
}

.approve-r.tags {
    display: flex;
    align-items: center;
}

.approve-r.tags label{
    margin-right: 5px;
}

/* Admin */
.Admin {
    height: 100%;
    display: flex;
}
#a-sidebar {
    height: 100%;
    width: 200px;
}

.Admin .nav-item {
    margin-bottom: 5px;
}

.Admin .nav-content {
    width: 100%;
    margin-left: 15px;
    margin-top: 20px;
}

.nav-content table {
    width: 100%;
}