i:not(.bi.bi-search) {
    color: #ffc107;
}

i:not(.bi.bi-search):hover {
    color: #f8f9fa;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #007bff;
}

.banner {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
}

/* Categories */
.navbar-nav li.nav-item a:hover {
    background-color: #212529;
    color: #F8F9FA;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
/* Categories */

/* Toggle Button After Logging in */
.navbar-toggler:hover {
    background-color: #F8F9FA;
}

.navbar-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33, 37, 41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* Toggle Button After Logging in */

/* Submit Buttons to Server */
button[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
    color: #f8f9fa;
}

button[type="submit"]:hover {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #212529;
}
/* Submit Buttons to Server */

/* Premium Tiers */
.premium-tier a:hover {
    font-weight: bold;
}
/* Premium Tiers */

/* Editor - main */
.e_Posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-grid .btn {
    border-radius: 0px 4px 4px 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination table {
    empty-cells: show;
    align-self: center;
}

.pagination th {
    font-size: 1.1em;
}

/* Editor - details */
.e_Content_Details {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

/* Editor - disapprove */
.e_Disapprove {
    display: flex;
    flex-direction: column;
}


/* Editor - approve */
.e_Approve {
    display: flex;
    flex-direction: column;
}

.approve-content {
    display: flex;
}

.approve-c.text {
    width: 60%;
    margin-right: 5px;
}

.approve-c.image {
    width: 40%;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.approve-r {
    margin-top: 5px;
    margin-bottom: 5px;
}

.approve-r.abstract {
    height: 100px;
}

.approve-r.tags {
    display: flex;
    align-items: center;
}

.approve-r.tags label{
    margin-right: 5px;
}


/* Admin */
.Admin {
    height: 100%;
    display: flex;
}
#a-sidebar {
    /* height: 100%; */
    width: 200px;
}

.Admin .nav-item {
    margin-bottom: 5px;
}

.Admin .nav-content {
    width: 100%;
    margin-left: 15px;
    margin-top: 20px;
}

.nav-content table {
    width: 100%;
}


.admin-table {
    overflow: auto;
    max-height: 30em;
 }
 th {
    z-index: 1000;
    position: sticky;
    top: 0;
    background: white;
 }