.carousel-control-prev {
    left: -4%;
    width: 5%;
}

.carousel-control-next {
    right: -4%;
    width: 5%;
}

.d-flex.flex-nowrap {
    overflow-x: scroll;
}

.d-flex.flex-nowrap::-webkit-scrollbar { 
    display: none;
}