.carousel-control-prev {
    left: -4%;
    width: 5%;
}

.carousel-control-next {
    right: -4%;
    width: 5%;
}

.overflow-auto.flex-nowrap {
    overflow: scroll;
}

.overflow-auto.flex-nowrap::-webkit-scrollbar { 
    display: none;
}