<div class="modal" id="modalPaypal" tabindex="-1" role="dialog" aria-labelledby="modalPaypalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header p border-bottom-0">
        <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#modalExtendPremium" aria-label="Back"></button>
      </div>
      <div class="modal-body">
        <div id="paypal-button-container"></div>
      </div>
    </div>
  </div>
</div>