<!-- Reset Code Modal -->
<div class="modal fade" id="modalResetCode" tabindex="-1" aria-labelledby="modalResetCodeLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalResetCodeLabel">Confirm Reset Code</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-3">
        <p>We just sent a code to {{email}}</p>
        <form action="/auth/reset-password" method="post">
          <div class="mb-3">
            <label for="forgetpw-code" class="form-label">Reset Code</label>
            <input type="email" class="form-control" id="forgetpw-code" aria-describedby="codeHelp"
              placeholder="Enter your reset code" required>
            <div id="codeHelp" class="form-text">Enter 6-digits number in your mailbox</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
          data-bs-target="#modalForgetPassword">Back</button>
        <button type="button" class="btn" data-bs-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
<!-- Reset Code Modal -->