<!-- Reset Password Modal -->
<div class="modal fade" id="modalResetPassword" tabindex="-1" aria-labelledby="modalResetPasswordLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalResetPasswordLabel">Reset Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/auth/reset-password" method="post">
        <div class="modal-body mx-3">
          <p>Please confirm your new password</p>
          <div class="row mb-3">
            <div class="col">
              <label for="reset-password" class="form-label">New Password</label>
              <input type="password" class="form-control" name="password" id="reset-password"
                placeholder="Enter new password" required>
            </div>
            <div class="col">
              <label for="reset-repassword" class="form-label">Re-enter new Password</label>
              <input type="password" class="form-control" name="repassword" id="reset-repassword"
                placeholder="Re-enter new password" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
            data-bs-target="#modalForgetPassword">Back</button>
          <button type="submit" id="reset-pw" class="btn" data-bs-dismiss="modal">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Reset Password Modal -->