<div class="offcanvas offcanvas-end text-bg-dark w-25" data-bs-scroll="true" tabindex="-1" id="offcanvasLoggedin"
  aria-labelledby="offcanvasLoggedinLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled ms-3">
      <li class="mb-3">
        <a href="#" class="link-light" data-bs-toggle="modal" data-bs-target="#modalUserInformation">
          <img src="https://via.placeholder.com/50x50" alt="...">
          <span>DongNike</span>
        </a>
      </li>
      <li class="mb-3">
        <a href="#footer" class="link-light">
          <i class="bi bi-people"></i> About us
        </a>
      </li>
      <li class="mb-3">
        <a href="#" class="link-light" id="logout-btn" data-bs-dismiss="offcanvas" aria-label="Log out">
          <i class="bi bi-box-arrow-left"></i> Log out
        </a>
      </li>
    </ul>
  </div>
</div>