<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../../styles.css" rel="stylesheet" type="text/css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    
     <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"> 
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css"> 
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <title>Editor</title>
</head>
<body class="container-fluid">
    <header class="e_Header">
        <div class="e_Branding">
            <img src="../assets/logo.png">
            <h1 class="">NEWSPAPER</h1>
        </div>
        <div class="e_User d-flex">
            <button type="button" class="btn btn-danger">Đăng xuất</button>
            <img src="../assets/avt.png">
        </div>
    </header>


    <div class="e_Approve container">
        <div class="approve-area">
            <div class="approve header h2">
                <span><strong>XUẤT BẢN TRỰC TUYẾN</strong></span>
            </div>
            <div class="approve-content">
                <div class="approve-c text">
                    <div class="approve-r datetime">
                        <label for="a-datetime">Datetime</label>
                        <div class='input-group date' id='a-datetime'>
                           <input type='text' class="form-control" />
                           <span class="input-group-addon">
                           <span class="glyphicon glyphicon-calendar"></span>
                           </span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#a-datetime').datetimepicker();
                            });
                        </script>
                    </div>
                    <div class="approve-r category">
                        <label for="a-category">Category</label>
                        <input type="text" class="form-control" id="a-category" value="dcsdac">
                    </div>
                    <div class="approve-r title">
                        <label for="a-title">Title</label>
                        <input type="text" class="form-control" id="a-title" value="dcsdac">
                    </div>
                    <div class="approve-r abstract">
                        <label for="a-abstract">Abstract</label>
                        <textarea type="text" class="form-control" id="a-abstract">dcsdac</textarea>
                    </div>
                    <div class="approve-r tags">
                        <label for="a-tags">tags:</label>
                        <input type="text" class="form-control" id="a-tags" value="dcsdac">
                    </div>
                </div>
                <div class="approve-c image">
                    <img src="../assets/image.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="approve action">
            <button type="button" class="btn btn-back">Trở lại</button>
            <button type="button" class="btn btn-success btn-publish">Xuất bản</button>
        </div>
    </div>


    <footer class="e_Footer">
        <img src="../assets/logo.png">
        <address class="e_Contact">
            <blockquote>
                <strong>NEWSPAPER</strong> <br>
                Email: <a href="#">email@email.emal</a> <br>
                Số điện thoại: (000)-0000-0000 <br>
                Địa chỉ: địa chỉ/địa chỉ, Địa chỉ, Địa chỉ <br>
                <br>
                NEWSPAPER &#169 2023
            </blockquote>
        </address>
    </footer>
    
    <script>
        var site_list = false;
        var site_detail = true;
        var site_disapprove = false;
        var site_approve = true;
    </script>
    <script src="../data.js"></script>
    <script src="../app.js"></script>
</body>
</html>