<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Booststrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="../../styles.css" rel="stylesheet" type="text/css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha256-BRqBN7dYgABqtY9Hd4ynE+1slnEw+roEPFzQ7TRRfcg=" crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
    
<title>Editor</title>
</head>
<body class="container-fluid">
    <header class="sticky-top">
        <!-- Upper Header -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="e_Branding container-fluid">
                <!-- Brand Name -->
                <img src="../assets/logo.png">
                <a href="index.html" class="navbar-brand me-auto">Newspaper Brandname and Icon</a>

                <!-- Search Bar -->
                <form class="d-flex" action="list.html">
                    <div class="input-group">
                        <input class="form-control rounded-start border-end-0" type="search" placeholder="Search..."
                            aria-label="Search">
                        <span>
                            <button class="btn bg-white rounded-0 rounded-end border border-start-0" type="submit"
                                title="Search">
                                <i class="bi bi-search"></i>
                            </button>
                        </span>
                    </div>
                </form>

                <!-- Login/ Register Modals Trigger -->
                <a href="#" class="link-light text-decoration-none ms-3" data-bs-toggle="modal"
                    data-bs-target="#modalLoginRegister">
                    <i class="bi bi-person-circle"></i>
                    Log in
                </a>
            </div>
        </nav>
        <!-- Upper Header -->

        <!-- Lower Header -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light" style="padding: 0;">
            <div class="container-fluid">
                <!-- Mobile Devices Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#categoriesToggle" aria-controls="categoriesToggle" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Categories Navigation -->
                <div class="collapse navbar-collapse" id="categoriesToggle">
                    <ul class="navbar-nav mx-auto mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <i class="bi bi-house-door"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Global</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Politics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Economy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Technology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Science</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Health</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Arts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sports</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Lower Header -->
    </header>


    <div class="e_Approve container">
        <div class="approve-area">
            <div class="approve header h2">
                <span><strong>XUẤT BẢN TRỰC TUYẾN</strong></span>
            </div>
            <div class="approve-content">
                <div class="approve-c text">
                    <div class="approve-r datetime">
                        <label for="a-datetime">Datetime</label>
                        <div class='input-group date' id='a-datetime'>
                           <input type='text' class="form-control" />
                           <span class="input-group-text">
                           <span class="bi bi-calendar3"></span>
                           </span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#a-datetime').datetimepicker();
                            });
                        </script>
                    </div>
                    <div class="approve-r category">
                        <label for="a-category">Category</label>
                        <input type="text" class="form-control" id="a-category" value="dcsdac">
                    </div>
                    <div class="approve-r title">
                        <label for="a-title">Title</label>
                        <input type="text" class="form-control" id="a-title" value="dcsdac">
                    </div>
                    <div class="approve-r abstract">
                        <label for="a-abstract">Abstract</label>
                        <textarea type="text" class="form-control" id="a-abstract">dcsdac</textarea>
                    </div>
                    <div class="approve-r tags">
                        <label for="a-tags">tags:</label>
                        <input type="text" class="form-control" id="a-tags" value="dcsdac">
                    </div>
                </div>
                <div class="approve-c image">
                    <img src="../assets/image.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="approve action">
            <button type="button" class="btn btn-secondary btn-back">Trở lại</button>
            <button type="button" class="btn btn-success btn-publish">Xuất bản</button>
        </div>
    </div>


    <footer class="e_Footer">
        <img src="../assets/logo.png">
        <address class="e_Contact">
            <blockquote>
                <strong>NEWSPAPER</strong> <br>
                Email: <a href="#">email@email.emal</a> <br>
                Số điện thoại: (000)-0000-0000 <br>
                Địa chỉ: địa chỉ/địa chỉ, Địa chỉ, Địa chỉ <br>
                <br>
                NEWSPAPER &#169 2023
            </blockquote>
        </address>
    </footer>
    
    <script>
        var site_list = false;
        var site_detail = true;
        var site_disapprove = false;
        var site_approve = true;
    </script>
    <script src="../data.js"></script>
    <script src="../app.js"></script>
</body>
</html>