<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../../styles.css" rel="stylesheet" type="text/css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


    <title>Editor</title>
</head>
<body class="container-fluid">
    <header class="e_Header">
        <div class="e_Branding">
            <img src="../assets/logo.png">
            <h1 class="">NEWSPAPER</h1>
        </div>
        <div class="e_User d-flex">
            <button type="button" class="btn btn-danger">Đăng xuất</button>
            <img src="../assets/avt.png">
        </div>
    </header>


    <div class="e_Content_Details container">
        <div class="post-detail">
            <div class="post-pane-l header">
                <div class="post-subpane-l category">Kinh doanh</div>
                <div class="post-subpane-l datetime">23/4/2023</div>
            </div>
            <div class="post-pane-l title">XYZ</div>
            <div class="post-pane-l abstract">abcabc</div>
            <div class="post-pane-l img">                
                <div class="post-subpane-l img-url">
                    <img src="../assets/image.jpg" class="img-responsive"/>
                </div>
                <div class="post-subpane-l img-desp">xxxx</div>
            </div>
            <div class="post-pane-l details">abcabccdcdscdscds</div>
            <div class="post-pane-l footer">
                <div class="post-subpane-l tags">Nông sản</div>
                <div class="post-subpane-l reported">Trần Minh Lâm</div>
            </div>
        </div>
        <div class="post action">
            <button type="button" class="btn btn-danger disapprove">Từ chối</button>
            <button type="button" class="btn btn-success approve">Duyệt</button>
        </div>
    </div>


    <footer class="e_Footer">
        <img src="../assets/logo.png">
        <address class="e_Contact">
            <blockquote>
                <strong>NEWSPAPER</strong> <br>
                Email: <a href="#">email@email.emal</a> <br>
                Số điện thoại: (000)-0000-0000 <br>
                Địa chỉ: địa chỉ/địa chỉ, Địa chỉ, Địa chỉ <br>
                <br>
                NEWSPAPER &#169 2023
            </blockquote>
        </address>
    </footer>
    
    <script>
        var site_list = false;
        var site_detail = true;
        var site_disapprove = false;
        var site_approve = false;
    </script>
    <script src="../data.js"></script>
    <script src="../app.js"></script>
</body>
</html>