<main class="mx-3 my-3 bg-light p-3">
  <form action="reporter_list.html">
    <!-- WYSIWYG Section (TinyMCE) -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-light bg-dark p-2">
          Newsroom
        </h2>
        <textarea id="reporter-editor" class="w-100">
            <p class="Normal">Minh, the company's director, told <em>VnExpress</em> that over the past year his firm managed to sell only three properties on the quiet market.</p>
            <p class="Normal">He said his company had been racking up losses for several consecutive quarters, while realty developers have still owed the firm commissions.</p>
            <p class="Normal">His firm reduced its workforce from nearly 100 last year to 25 early this year. It then halved it’s salary budget again in March, leaving only 15 employees.</p>
            <p class="Normal">The, with only 10 employees on payroll in mid-April, the firm decided to close temporarily. "The temporary closure is the last resort, after we assumed that the risks and challenges on the market would prolong themselves," Minh said. "With exhausted resources, we cannot continue to suffer losses."</p>
            <p class="Normal">Similarly, a real estate trading floor with a workforce of below 30 in HCMC’s Thu Duc City had to close early this year because it had gained no revenue for 4 consecutive quarters.</p>
            <p class="Normal">The trading floor sold some realty products early last year, but their developers delayed payment of commissions or paid commissions in the form of properties instead of cash. Due to weak demand, the floor failed to sell the properties.</p>
            <p class="Normal">"Due to our inability to pay our due debts and [manage] our prolonged losses, we had to close down temporarily. This is the general situation of real estate trading floors in District 2 and Thu Duc City," said Hieu, the trading floor’s owner.</p>
            <p class="Normal">Even some <a href="https://e.vnexpress.net/news/business/property/property-acquisitions-on-the-cards-as-cash-strapped-developers-sell-out-analysts-4584105.html" rel="dofollow">cash-strapped realty developers</a> had to close branches to lower costs.</p>
            <p class="Normal">Ngoc, marketing director of a real estate company implementing projects in HCMC and the two southern provinces of Binh Duong and Dong Nai, said the company’s headquarters was operating "in moderation," but its branches have been closed.</p>
            <p class="Normal">For the past 11 months, the company saw no revenue on the frozen market, Ngoc said, adding that the firm’s workforce has decreased by 80% after employees quit en masse after receiving salary cuts and salary payment postponement. "The current difficulty is the most serious in the past two decades," he stated.</p>
            <p class="Normal">The number of property developers and brokers that dissolved or temporarily ceased operations surged 30% and 61% year-on-year, respectively, in the first three months of 2023, announced the Construction Ministry.</p>
            <p class="Normal">Meanwhile, the number of new firms established decreased by 63%. Between 30% and 50% of property trading floors had to close or suspend operations, and 60-70% of brokers stopped working or switched professions.</p>
            <p class="Normal">Observing the real estate market for the past two decades, Nguyen Mac Hoai Nam, CEO of consulting service provider Nam Phat, said some real estate developers and brokers have had to operate idly or resort to temporary closure due to "stuck cash flows."</p>
          </textarea>
      </div>
    </div>
    <!-- WYSIWYG Section (TinyMCE) -->

    <!-- Preview Section -->
    <div class="row mt-3">
      <div class="col-md-12">
        <!-- Category Name -->
        <h2 class="text-light bg-dark p-2">
          Preview Article
        </h2>

        <div class="card">
          <div class="row g-0">
            <div class="col-md-7 d-flex flex-column">
              <div class="card-body">
                <p class="card-text small text-muted">DongNike - [Today]</p>
                <h6 class="card-subtitle tinymce-heading text-muted">
                  Exportation
                </h6>
                <h5 class="card-title tinymce-heading">
                  Exports down 12% in four months
                </h5>
                <p class="card-text tinymce-body">Vietnam's exports totaled US$108.57 billion in the first four months
                  of
                  this year, a year-on-year decrease of 11.8%, the General Statistics Office announced.</p>
              </div>
              <div class="card-footer">
                <p class="card-text small text-muted">
                  <span class="fw-semibold">
                    tags:
                  </span>
                  <span class="tinymce-heading">
                    foreign, economy
                  </span>
                </p>
              </div>
            </div>
            <div id="tinymce-img" class="col-md-5">
              <img src="/images/eco1.jpg" class="d-block w-100 h-100 rounded-end" >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Preview Section -->
    <div class="text-center border-top p-2 mt-3">
      <button type="submit" class="btn px-5">Update</button>
    </div>
  </form>
</main>