<body class="container-fluid">
  <div class="e_Disapprove container">
    <div class="disapprove-content">
      <div class="disapprove header h2">
        <span><strong>NỘI DUNG BÀI VIẾT</strong></span>
      </div>
      <div id="d-content-area">
        <script>
          var editor = new FroalaEditor('#d-content-area');
        </script>
      </div>
    </div>
    <div class="disapprove-reason">
      <div class="disapprove header h2">
        <span><strong>LÝ DO TỪ CHỐI</strong></span>
      </div>
      <div id="d-reason-area">
        <script>
          var editor = new FroalaEditor('#d-reason-area');
        </script>
      </div>

    </div>
    <div class="disapprove action">
      <button type="button" class="btn btn-secondary btn-back">Trở lại</button>
      <button type="button" class="btn btn-primary btn-send">Gửi</button>
    </div>
  </div>

  <script>
    var site_list = false;
    var site_detail = true;
    var site_disapprove = true;
    var site_approve = false;
  </script>
  <script src="/mock/editor.js"></script>
  <script src="/js/editor.js"></script>
</body>